@model int
<div class="editorRow">

    <a href="#" class="deleteRow">delete</a>
    <a id= "addItem_@Model"    class="intro" asp-action="BlankAnsware" asp-controller="Tests">Add Answare...</a>

    <br />

</div>

