@model Sotis2.Models.DTO.TestQuestionAnswerDTO

@{
    ViewData["Title"] = "CreateFullTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Create</h1>



<h4>Question</h4>
<hr />
@using (Html.BeginForm("CreateFullTest", "Tests", FormMethod.Post, new { id = "form_tests" }))
{

    <p><b>StudentName:</b> @Html.TextBoxFor(model => model.TestDuration)</p>

    @for (int i = 0; i < Model.qWA.Count(); i++)
    {
        <div id="@i.ToString()">
            <partial class="partial" name="QuestionEditor" for="@Model.qWA[i]" />
        </div>
    }
    <br />
    <input type="button" value="Add new question" id="AddQ" />
    <input type="submit" />

}


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section scripts{
    <script>
        var i = 0;
        $("#AddQ").click(function () {
            $.ajax({
                url: '/Tests/QuestionEditor',
                data: { i: i },
                success: function (data) {
                    str = JSON.stringify(data);
                    const newDiv = document.createElement("div");
                    newDiv.id = i;
                    newDiv.innerHTML += data;
                    $("#form_tests").append(newDiv);//.append(data); //f+(i-1)

                    /*
                    did = document.getElementById("ID");
                    did.setAttribute("Id", "Answares_" + i + "__ID");
                    did.setAttribute("name", "Answares[" + i + "].ID");

                    at = document.getElementById("AnswareText");
                    at.setAttribute("Id", "Answares_" + i + "__AnswareText");
                    at.setAttribute("name", "Answares[" + i + "].AnswareText");

                    iit = document.getElementById("IsItTrue");
                    iit.setAttribute("Id", "Answares_" + i + "__IsItTrue");
                    iit.setAttribute("name", "Answares[" + i + "].IsItTrue");
                    */


                    //old_did = document.getElementById("ID");
                    //document.replaceChild(did, old_did);
                    //i = i + 1;
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                }
            })
            i++;
        })
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
<!--
<div class="form-group">
    <a value="Create" class="btn btn-primary" asp-action="FullCreate"> Submit</a>
</div>
-->
