@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Faculty project at <a href="http://ftn.uns.ac.rs/">
    Faculty of Technical Sciences
</a>.</p>
</div>
