

@{
    ViewData["Title"] = "Semantic Web SPARQL Queries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center>
    <h1>Index</h1>

    <a class="btn btn-primary" asp-action="Question1">Question 1</a><br /><br />
    <a class="btn btn-primary" asp-action="Question2">Question 2</a><br /><br />
    <a class="btn btn-primary" asp-action="Question3">Question 3</a><br /><br />
    <a class="btn btn-primary" asp-action="Question4">Question 4</a><br /><br />
    <a class="btn btn-primary" asp-action="Question5">Question 5</a><br /><br />
    <a class="btn btn-primary" asp-action="Question6">Question 6</a>
</center>
<br />

