

@{
    ViewData["Title"] = "Semantic Web SPARQL Queries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<a asp-action="GetQuestion" asp-route-id="1">Question 1</a>
<a asp-action="GetQuestion" asp-route-id="2">Question 2</a>
<a asp-action="GetQuestion" asp-route-id="3">Question 3</a>
<a asp-action="GetQuestion" asp-route-id="4">Question 4</a>
<a asp-action="GetQuestion" asp-route-id="5">Question 5</a>
<a asp-action="GetQuestion" asp-route-id="6">Question 6</a>

