@model Sotis2.Models.DTO.SemanticWebDTO

@{
    ViewData["Title"] = "Semantic Web SPARQL Queries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center>
    <h1>Question 4: Get average accuresy for the test Front-End</h1>
    <h1></h1>
    <br />

    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="id" value="4" />
        <input type="hidden" asp-for="lowerBoundery" />
        <input type="hidden" asp-for="upperBoundery" />
        <input type="hidden" asp-for="order" />
        <div class="form-group">
            <input type="submit" value="Get" asp-action="GetQuestion" class="btn btn-primary" />
        </div>
    </form>
    <br />
</center>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
    <br />
