@model Sotis2.Models.DTO.SemanticWebDTO

@{
    ViewData["Title"] = "Semantic Web SPARQL Queries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Question 5: How much each course has</h1>
<h1></h1>

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="id" value="5" />
    <input type="hidden" asp-for="lowerBoundery" />
    <input type="hidden" asp-for="upperBoundery" />
    <input type="hidden" asp-for="order" />
    <div class="form-group">
        <input type="submit" value="Get" asp-action="GetQuestion" class="btn btn-primary" />
    </div>
</form>
<br />
<div>
    <a asp-action="Index">Back to List</a>
</div>
<br />