@model Answare
<div class="editorRow">

    @Html.HiddenFor(m => m.ID)
    <span>Answare: </span> @Html.EditorFor(m => m.AnswareText)

    <span>True: </span> @Html.EditorFor(m => m.IsItTrue)

    <a href="#" class="deleteRow">delete</a>
    <br />
</div>